name: Check Issue Format

on:
  issues:
    types: [ opened ]

permissions:
  issues: write
  contents: read

jobs:
  check-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Auto-close lazy bug reports
        uses: actions/github-script@v6
        with:
          script: |
            const script = require('./.github/scripts/check_issue.js')
            await script({github, context, core})